@import url('https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #ECDFCC;
    overflow-y: auto;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main{
    flex: 1 1 auto;
}

.sidebar {
    width: 100px;
    background-color: #181C14;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    z-index: 2;
}
.sidebar .logo img {
    width: 100%;
    height: auto;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
}

.info {
  width: 20px; /* adjust the width to your liking */
  height: 100px; /* adjust the height to your liking */
  display: inline-block;
}

.sidebar .btn {
    width: 100%;
    height: 45px;
    background: #fff;;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #181C14;
    font-weight: 600;
    margin-top: auto;
}

.btn:hover{
    background-color: red;
    color: #fff;
}

.content {
    margin-left: 100px;
    padding: 10px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0);
    min-height: calc(100vh - 150px); /* adjust the height to your liking */
    overflow-y: auto;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.content .table-container {
    min-height: 400px;
    min-height: calc(100vh-200px);
    width: 100%;
    flex: 1 1 auto;
    border-collapse: collapse;
    border-radius: 10px;
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    margin-top: 1px;
}

table{
    width: 100%;
}

.tr{
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #3C3D37;
    color: #fff;
}
th, tr{
    padding: 5px;
    border: 2px solid #ccc;
    background-color: #3C3D37;
    color: #fff;
}
th{
    background-color: #181C14;
}
td {
    position: relative;
    text-align: center;
}

table th {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table th:last-child {
  border-right: none;
}

table tr:last-child th {
  border-bottom: none;
}

.decrypt-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.decrypt-btn:hover {
    background-color: #697565;
    border-radius: 10px;
    cursor: pointer;
}

.copy-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.copy-btn:hover {
    background-color: #697565;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn{
    background-color: transparent;
    border: none;
}

.change-btn {
    background-color: transparent;
    border: none;
}

.change-btn:hover {
    background-color: #697565;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: red;
    cursor: pointer;
    border-radius: 10px;
}

th:first-child{
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

td:first-child{
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3C3D37;
    color: #fff;
    text-align: right;
    padding: 10px;
    margin-top: 20px;
    z-index: 1;
    padding-bottom: 20px;
    border-top: #ECDFCC 1px solid;
}
.footer .btn{
    width: 80px;
    height: 45px;
    background: #fff;;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #3C3D37;
    font-weight: 600;
    margin-top: auto;
}

.footer .btn:hover{
    background-color: #697565;
    color: #fff;
}

.popup-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup-bg-edit{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 40%;
    border: 1px solid #3C3D37;
    border-radius: 10px;
    background-color: #ECDFCC;
    padding: 20px;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 25px;
}

.popup .close-popup  {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #3C3D37;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.popup .close-popup-edit  {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #3C3D37;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}


.popup label {
    display: block;
    margin-bottom: 5px;
}

.popup input{
    position: absolute;
    right: 30px;
    width: 80%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #3C3D37;
    color: #fff;
    margin-bottom: 15px;
    margin-top: 20px;
}

.popup button {
    width: 150px;
    height: 40px;
    background-color: #3C3D37;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.popup button:hover {
    background-color: #697565;
}
.button-container {
    display: flex;
    justify-content: flex-end;
}

.save-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #3C3D37;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #697565;
}

.generate-pass {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: #3C3D37;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.generate-pass:hover {
    background-color: #697565;
}

/* Маленька кнопка із шестернею біля кнопки генерації */
.button-container .settings-btn {
    position: absolute;
    left: 172px;
    bottom: 20px;
    background-color: #3C3D37;
    color: #fff;
    width: 30px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.settings-btn:hover {
    background-color: #697565;
}

.close-popup-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.popup .field{
    display: flex;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Вирівнюємо кнопки праворуч */
    margin-top: auto; /* Відсуваємо кнопки донизу контейнера */
}

.field button{
    position: absolute;
    border-radius: 10px;
    right: 25px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.popup-bg-settings{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
.popup-settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 40%;
    border: 1px solid #3C3D37;
    border-radius: 10px;
    background-color: #ECDFCC;
    padding: 10px;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    padding-top: 10px;
    gap: 25px;
    padding-left: 30px;
}

.popup-settings .close-popup-settings {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #3C3D37;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.popup-settings button {
    width: 150px;
    height: 40px;
    background-color: #3C3D37;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.popup-settings button:hover {
    background-color: #697565;
}

.popup-settings .field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.popup-settings label {
    margin-right: 10px;
}

.popup-settings input[type="number"] {
    width: 160px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #3C3D37;
    color: #fff;
}

.popup-settings input[type="checkbox"] {
    margin: 0px;
}

.password-strength {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 5px;
}

.strength-bar {
    height: 10px;
    width: 0%;
    background-color: red;
    border-radius: 5px;
    transition: width 0.3s ease;
}

::-webkit-scrollbar{
    display: none;
}

.scrollbar {
  scrollbar-width: none;
}